<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-input type="text" placeholder="FirstName" name="FirstName" #FirstName></ion-input>
        <ion-input type="text" placeholder="LastName" name="LastName" #LastName></ion-input>
        <ion-input type="text" placeholder="Username" name="username" #username></ion-input>
        <ion-input type="email" placeholder="E-mail" name="email" #email></ion-input>
        <ion-input type="password" placeholder="Password" name="password" #password></ion-input>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%">
      <ion-col size="12">
        <ion-button shape="round" (click)="Register()">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
