<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-input  round type="text" placeholder="Username" name="username" #username></ion-input>
        <ion-input type="password" placeholder="Password" name="password" #password></ion-input>
        <ion-input  round type="text" placeholder="FirstName" name="FirstName" #FirstName></ion-input>
        <ion-input  round type="text" placeholder="LastName" name="LastName" #LastName></ion-input>
      </ion-col>
    </ion-row>

    <ion-row id="registro">
      <ion-col size="6">
        <ion-button shape="round" (click)="signIn()">Sign In</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" (click)="signIn()">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
