<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Pregunta algo...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
          <ion-img src="assets/image/relajado.png" style="height: 112px"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row id="texto">
      <ion-col size="12">
        la coversacion
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
