ion-title {
  --background: rgb(43, 42, 51);
  --color: rgb(226, 217, 217);
}

ion-content {
  --background: rgb(43, 42, 51);
  --color: rgb(226, 217, 217);
}

ion-input {
  --background: rgb(86, 83, 109);
  --color: rgb(226, 217, 217);
  margin: 20px;
  width: 240px;
  border-radius: 20px;
  margin-left: 25px;
}

#bot{
  text-align: center;
  height: 120px;
}

ion-button {
  --background: rgb(68, 63, 100);
  --background-activated:rgb(35, 33, 44);
  --background-focused: rgb(177, 177, 177);
  --background-activated: rgb(35, 33, 44);
  --background-hover: rgb(35, 33, 44);
  width: 110px;
}