
ion-title {
  --background: rgb(43, 42, 51);
  --color: rgb(226, 217, 217);
}

ion-content {
  --background: rgb(43, 42, 51);
  --color: rgb(226, 217, 217);
}

ion-input {
  --background: rgb(43, 42, 51);
  --color: rgb(226, 217, 217);
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  --padding-top: 20px;
  --placeholder-color: rgb(226, 217, 217);
  --placeholder-font-style: initial
  --placeholder-font-weight initial
  --placeholder-opacity 0.5
}

#bot{
  text-align: center;
  height: 200px;
}

#botones{
  text-align: center;
}